---
import Layout from '../layouts/Layout.astro';

const title = 'About';
---

<Layout title={title}>
	<main>
		<h1>{title}</h1>
	</main>
</Layout>

<style>
	main {
		margin: 1rem;
		padding: 1rem;
		max-width: 100vh;
		max-height: 100vh;
	}
	
</style>
