---
import Layout from "../layouts/Layout.astro";

const title = "About";
---

<Layout title={title}>
  <main>
    <div class="container">
      <div class="text">
        <h1>Hello There!</h1>
        <p>
          I'm Pranavv, pursuing engineering in the branch of Computer Science(Data Science) in
          India.
        </p>
        <p>
          I'm still in my learning phase and would love to explore and implement
          new technologies in my projects.
          <br />
          I'm familiar with <b>HTML, CSS, C++, Java, Git</b> and <b>Github</b>.
          I'm currently learning <b>Astro</b>.
        </p>
      </div>
      <div class="image">
        <img src="/picofme.png" alt="Pranavv" />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 1rem;
    padding: 20px 50px;
    max-height: 100vh;
  }
  p {
    line-height: 40px;
    font-size: 1.2rem;
    color: silver;
    font-weight: 550;
    transition: 250ms;
	padding-left:10px;
  }
  b {
    color: white;
  }
  h1 {
    font-size: 2.7rem;
  }
  img {
    width: 330px;
  }
  .container {
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
  }
  .text {
    padding-right: 20px;
    text-align: justify;
    width: 40%;
    float: left;
	transition: 250ms ease-in-out;
  }
  .image {
    float: right;
    justify-content: right;
    padding-top: 60px;
	transition: 250ms ease-in-out;
  
  }

  @media (max-width: 810px) {
	main{
		padding: 20px 20px;
	}
	.container {
	  display: block;
	}
	.text {
	  width: 100%;
	  padding-right: 0;
	  float: none;
	  text-align:left;
	}
	.image {
	  padding-top: 0;
	  float: none;
	  padding-left: 40px;
	  justify-content:space-between;
	}
	img {
	  width: 200px;
  }
  p{
	line-height: 25px;
	font-size: 1rem;
	font-weight:500;
  }
  h1{
	font-size: 2.3rem;
  }
}
</style>
