---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Pranavv Raja">
	<main>
		
	</main>
</Layout>

<style>
	/*main {
		margin: 1rem;
		padding: 1rem;
		max-width: 100vh;
		max-height: 100vh;
	}*/
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
