---
import Layout from '../layouts/Layout.astro';

const title = 'Pranavv Raja';
---

<Layout title={title}>
	<main>
		<div class="container">
		<div class="text">
		<p>Welcome, this is </p>
		<h1>{title}</h1>
		<p class="line-1">Computer Science Student.</p>
		<p class="line-2">Front End Web Developer.</p>
		</div>
		<div class="image">
		<img src="/pic1.png" width="400px">
		</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0rem 1rem;
		padding: 30px 50px;
		max-height: 100vh;

		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	p {
		font-size: 1.2rem;
		color: darkgray;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 525;
		margin-bottom: 0px;
		transition: all 250ms ease-in-out;
	}
	.intro{
		letter-spacing: 1.5px;
		font-size: 1.5rem;
	}
	h1{
		font-size: 3.5rem;
		font-weight: 900;
		margin-top: 0px;
		transition: all 250ms ease-in-out;
	}

	.line-1{
		font-size: 2rem;
		color: silver;
		font-weight: 650;
		margin-top: 20px;
		width: 90%;
		padding-left: 10px;
	}
	
	.line-2{
		padding-left: 10px;
		font-size: 1.5rem;
		color: azure;
		font-weight: 600;
		margin-top: 20px;
		width: 80%;
	}
	.container{
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
		align-items: left;
	}
	.image{
		float: right;
		align-items: center;
    	justify-content: right;
    	padding-top: 20px;
		padding-right: 90px;
		transition: 250ms ease-in-out;
	}
	.text{
		float: left;
		justify-content: center;
		align-items: center;
    	width: 100%;
		transition: 250ms ease-in-out;
	}

	@media (max-width: 600px) {
		main {
			margin: 0.5rem;
			padding: 0.5rem;
			max-width: 100vh;
			max-height: 100vh;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
		p {
			font-size: 1rem;
			color: darkgray;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-weight: 525;
			margin-bottom: 0px;
		}
		.intro{
			letter-spacing: 1.5px;
			font-size: 1.2rem;
		}
		h1{
			font-size: 2.5rem;
			margin-top: 0px;
		}

		.para{
			font-size: 2.5rem;
			color: darkgray;
			font-weight: 700;
			margin-top: 20px;
			width: 80%;
		}
	}

</style>
