---
import Layout from '../layouts/Layout.astro';
import ProjLayout from '../layouts/proj-layout.astro';
const title = 'Projects'
const items = await Astro.glob('../pages/posts/*.md');
---

<Layout title={title}>
	<main>
		<h1>{title}</h1>
		<p>A list of projects that I have done so far.</p>
		{items.map(item => (
			<item.Content />
		))}
	</main>
</Layout>

<style>
	main {
		margin: 1rem;
		padding: 1rem;
		/*max-width: 100vh;
		max-height: 100vh;*/
	}
	p{
		color: azure;
		font-size: large;
	}
	
</style>
