---
import Social from "./social.astro";

const user = "pranavvraja";
---

<footer>
  <div class="top">
    <div class="cr">
      <p>
        © 2023 Pranavv Raja. Source code on <a
          href="https://github.com/pranavvraja/portfolio-astro"><b>Github</b></a>
      </p>
    </div>

    <div class="soc">
      <Social platform="Github" username={user}>
        <img src="/Github.png" class="logo" />
      </Social>
      <Social platform="LinkedIn" username="in/pranavvraja">
        <img src="/linkedin.png" class="logo" />
      </Social>
      <Social platform="Twitter" username={user}>
        <img src="/twitter.png" class="logo" />
      </Social>
    </div>
  </div>

  
</footer>

<style>
  footer {
    width: 98%;
    height: 60px;
    display: flex;
    padding-top: auto;
    gap: 10;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    margin-bottom: 0%;
    padding: 10px;
    
  }

  .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .cr {
    display: inline-block;
    font-family: monospace;
    font-size: 1rem;
    align-items: center;
    animation: fadeIn ease-in-out 500ms;
    padding: 2px;
    padding-left: 20px;
    margin-top: 0%;
    column-gap: 0rem;
    color: azure;
    transition: all 150ms ease-in-out;
  }
  a{
    text-decoration: none;
    color: #CBE4DE;
    transition: all 150ms ease-in-out;
    
  }
  a:hover{
    color: #0E8388;
    text-decoration: underline;
  }

  .soc {
    animation: fadeIn ease-in-out 500ms;
    padding: 0;
    column-gap: 8px;
    align-items: center;
    display: inline-block;
    align-content: center;
  }
  
  .logo {
    transition: all 250ms ease-in-out;
    width: 30px;
  }

  .logo:hover {
    transform: scale(1.3);
  }
  @media (max-width: 600px) {
    footer{
      padding: 4px;
    }
    .cr {
      font-size: 0.7rem;
      padding-left: 0px;
    }
    .logo {
      width: 25px;
      padding: 0%;
    }
    .soc{
      column-gap: 4px;
      padding: 0%;
      display: flex;
      flex-direction: row;
    }
  
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

</style>
