---
import Social from "./social.astro";
---

<footer>
  <div class="top">
    <div class="cr">
      <p>
        © 2023 Pranavv Raja. Source code on <a
          href="https://github.com/pranavvraja/portfolio"><b>Github</b></a>
      </p>
    </div>

    <div class="soc">
      <Social platform="Github" username="pranavvraja">
        <img src="Github.png" class="logo" />
      </Social>
      <Social platform="LinkedIn" username="pranavvraja">
        <img src="linkedin.png" class="logo" />
      </Social>
      <Social platform="Twitter" username="pranavvraja">
        <img src="twitter.png" class="logo" />
      </Social>
    </div>
  </div>

  <div class="bottom">
    <p>Created with <img src="astro-logo-light.svg" class="logo1"></p>
  </div>
</footer>

<style>
  footer {
    width: 98%;
    height: 60px;
    display: flex;
    padding-top: auto;
    gap: 10;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    margin-bottom: 0%;
    padding: 0%;
    
  }

  .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .cr {
    display: inline-block;
    font-family: monospace;
    font-size: 1rem;
    align-items: center;
    padding: 2px;
    padding-left: 20px;
    margin-top: 0%;
    column-gap: 0rem;
    color: azure;
  }

  .soc {
    padding: 0;
    column-gap: 10px;
    align-items: center;
    display: inline-block;
    align-content: center;
  }

  .logo {
    width: 20px;
    background: azure;
    background-size: 40px;
    border-radius: 5px;
    border: 5px solid azure;
  }

  .logo1{
    width: 50px;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    
  }

  .bottom {
    background-color: black;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: monospace;
    text-align: center;
    font-size: 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    letter-spacing: .5ch;
    bottom: 0%;
  }
</style>
