---
import Social from "./social.astro";
---

<footer>
    <div class="top">
    <div class="cr">
        <p>© 2023 Pranavv Raja. Source code on <a href="github.com/pranavvraja/portfolio">Github</a></p>
    </div>


    <div class="soc">
        <Social platform ="Github" username = "pranavvraja"><img src='Github.png' class="logo"></Social>
        <Social platform ="LinkedIn" username = "pranavvraja"><img src='linkedin.png' class="logo"></Social>
        <Social platform ="Twitter" username = "pranavvraja"><img src='twitter.png' class="logo"></Social>
    </div>
    </div>
    
    <div class="bottom">
        <p>Created with Astro</p>
    </div>
</footer>

<style>
    footer {
        width: 100%;
        display: flex;
        margin-top: auto;
        gap: 0;
        flex-direction: column;
        justify-content: space-between; ;
        padding: 1.5rem 0;
    }

    .top{
        display:flex;
        width: 100%;
        align-items: center;
    }
    
    .cr{
        display: inline-block;
        font-family: monospace;
        font-size: 1.2rem;
        align-items: center;
        padding: 0%;
        margin-top: 0%;
        column-gap: 0rem;
        width: 100%;
    }
    
    .soc{
        padding: 0;
        column-gap: 10px;
        align-items: center;
        display: inline-block;
        align-content: right;
        width: 50%;
    }
    
    .logo{
        width: 30px;
        
    }

    .bottom{
        background-color: black;
        color: white;
        display: inline-block;
        width: 100%;
        font-family: monospace;
        text-align: center;
        position: relative;
        align-items: center;
        justify-content: center;
    }
</style>