---
---

<header class="container">
  <div class="header-left">
    <a href="/" class="profile">
      <img
        src="/Untitled.png"
        alt="Profile Image Of Pranavv Raja"
        class="image"
      />
      <span class="name">Pranavv Raja</span>
    </a>
  </div>

  <div class="header-right">
    <nav class="navi">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    align-items: center;
    text-decoration: none;
    font-family: fantasy;
    font-weight: 500;
    display: flex;
    color: gray;
    &:hover {
      text-decoration: none;
      color: white;
      .image {
        filter: brightness(125%);
      }
    }
  }

  .image {
    border-radius: 50%;
    width: 40px;
  }

  .name {
    margin-left: 0.75rem;
    font-size: 18px;
  }

a{
  text-decoration: none;
  color: gray;
}

  .nav-list {
    padding: 0;
    display: inline-flex;
    align-items: center;
    column-gap: 1.55rem;
    list-style-type: none;
    
  }
  
  .nav-item {
    padding: 5px 12px;
    font-size: var(--font-size-lg);
    color: silver;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 500;
    transition: all 250ms ease-in-out;
    &:hover {
      text-decoration: none;
      color: var(--color-mint-300);
      text-shadow: 0px 2px 18px rgb(0 255 137 / 80%);
    }
    &.active {
      text-shadow: 0px 5px 10px rgb(0 255 137 / 90%);
    }
  }

  @media screen and (max-width: 980px) {
    .nav-item {
      font-size: var(--font-size-2xl);
      font-weight: 600;
      &.active {
        text-shadow: 0px 2px 18px rgb(0 255 137 / 80%);
      }
    }
  }
</style>
