---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--color-mint: #15FF93;
  --color-mint-50: #CDFFE8;
  --color-mint-100: #B8FFDE;
  --color-mint-200: #8FFFCB;
  --color-mint-300: #67FFB9;
  --color-mint-400: #3EFFA6;
  --color-mint-500: #15FF93;
  --color-mint-600: #00DC76;
  --color-mint-700: #00A458;
  --color-mint-800: #006C3A;
  --color-mint-900: #00341C;
  
  --color-orange: #E8871E;
  --color-orange-50: #F9E0C5;
  --color-orange-100: #F7D6B2;
  --color-orange-200: #F3C28D;
  --color-orange-300: #F0AE68;
  --color-orange-400: #EC9B43;
  --color-orange-500: #E8871E;
  --color-orange-600: #BB6A13;
  --color-orange-700: #884D0E;
  --color-orange-800: #553009;
  --color-orange-900: #221303;

  
  --font-size-xs: 0.75rem;  
  --font-size-sm: 0.875rem; 
  --font-size-base: 1rem;   
  --font-size-lg: 1.125rem; 
  --font-size-xl: 1.25rem;  
  --font-size-2xl: 1.5rem;  
  --font-size-3xl: 1.75rem; 
  --font-size-4xl: 2rem;    
  --font-size-5xl: 2.25rem; 
  --font-size-6xl: 2.5rem;  
  --font-size-7xl: 2.75rem; 
  --font-size-8xl: 3rem;    
  --font-size-9xl: 3.25rem; 
  --font-size-10xl: 3.5rem; 
  --font-size-11xl: 3.75rem;
  --font-size-12xl: 4rem;   
  --font-size-13xl: 4.25rem;
  --font-size-14xl: 4.5rem; 
  --font-size-15xl: 4.75rem;
  --font-size-16xl: 5rem;   

  
  --font-family-IBM-Plex-Mono: 'IBM Plex Mono', sans-serif;
  --font-family-Mukta: 'Mukta', sans-serif;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
